body{
    background: url(Fondo.jpg);
    font-size: 90px;
    position:absolute;
    top: 70%;
    left: 20%;
    transform: translateX(-40%) translateY(-30%);
}
.mustache  {
    width: 180px;
    height: 180px;
    top: -350px;
    left:  -310px;
    border-radius: 50%;
    position: absolute;
    color:rgb(20, 12, 27);
    box-shadow: 
        150px 240px 0 0 currentColor,
        300px 240px 0 0 currentColor; 
}
.mustache::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;
}
.mustache::after{
    content: "";
    position: absolute;
    left: 390px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}

/* Kevin inicio. */
.amigo{
    width: 700px;
    height: 700px;
    top: -470px;
    left: 550px;
    position: absolute;
    background-color: green;
}
.ojos-creeper{
    width: 200px;
    height: 200px;
    position: absolute;
    color: black;
    box-shadow: 
        600px -400px 0 0 currentColor,
        1000px -400px 0 0 currentColor;
}
.boca1{
    width:200px;
    height: 250px;
    top: -200px;
    left: 800px;
    position: absolute;
    background-color: black;

}
.boca2{
    width: 100px;
    height: 250px;
    position: absolute;
    color: black;
    box-shadow: 
        701px -100px 0 0 currentColor,
        998px -100px 0 0 currentColor;
}
/* Kevin fin  */
/* Emanuel inicio  */
.sombrero{
    content: "";
    position: absolute;
    left: -300px;
    top: -500px;
    width: 600px;
    height: 50px;
    background-color: currentColor;
}
.sombrero::before{
    content: "";
    position: absolute;
    left: 75px;
    top: -250px;
    width: 450px;
    height: 300px;
    border-radius: 20%;
    background-color: currentColor;
}
.sombrero::after{
    content: "";
    position: absolute;
    left: -1925px;
    top: -140px;
    width: 450px;
    height: 100px;
    color: red;
    box-shadow: 
        2000px 40px 0 0 currentColor;
}
/* Emanuel fin  */
/* Ian Inicio   */
.corbata1{
    width: 0px; 
    height: 0px; 
    left: -200px;
    top: 200px;
    position: absolute;
    border-left: 200px solid red;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent; 
}
.corbata2{
    width: 0px; 
    height: 0px; 
    left: 2px;
    top: 200px;
    position: absolute;
    border-right: 200px solid blue;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
}
.nudo-corbata{
    width: 100px;
    height: 100px;
    left: -50px;
    top: 240px;
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(139, 12, 76);
}
/*FIn Ian      */
/*principio plata*/
.ceja1{
    width: 150px;
    height: 50px;
    left:-225px;
    top: -450px;
    position: absolute;
    border: 3px solid #555;
    background: black;
    }
.ceja2 {
    width: 150px;
    height: 50px;
    left: 90px;
    top: -450px;
    position: absolute;
    border: 3px solid #555;
    background: black;
    }
.cigarro{
    width: 250px;
    height: 50px;
    left: -5px;
    top: 80px;
    position: absolute;
    border: 3px solid #555;
    background: white;
    }
    
/*Final Plata */